@import "../../styles/base/core";
@import "../../styles/variables/color";

$button-prefix: "#{$prefix}-button";

.#{$button-prefix} {
  border: none;
  border-radius: 3px;
  background-color: $basic;
  color: white;
  text-align: center;
  font-weight: 600;
  width: 100%;
  opacity: 1;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &,
  &.#{$button-prefix}--type-basic {
    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &.#{$button-prefix}--type-danger {
    background-color: $danger;
    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &.#{$button-prefix}--size-small {
    padding: 6px 10px;
    font-size: $fontSize-small;
  }

  &.#{$button-prefix}--size-normal {
    padding: 8px 10px;
    font-size: $fontSize-normal;
  }

  &.#{$button-prefix}--size-large {
    padding: 10px 10px;
    font-size: $fontSize-large;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
