@import "../../styles/base/core";
@import "../../styles/variables/color";

$button-prefix: "#{$prefix}-button";

.#{$button-prefix} {
  border: none;
  border-radius: 3px;
  margin-top: 12px;
  background-color: $accent;
  color: white;
  text-align: center;
  padding: 8px 0px;
  font-weight: 600;
  width: 100%;
  opacity: 1;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &,
  &.#{$button-prefix}--type-basic {
    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  // &.#{$button-prefix}--type-danger {
  // }

  &:disabled {
    cursor: not-allowed;
  }
}
